Repository docling-project/docling, pull requests merged in 2025-01, with the labels that each got.

#818 fix: parse html with omitted body tag
  docling/backend/html_backend.py
  tests/data/groundtruth/docling_v2/example_05.html.itxt
  tests/data/groundtruth/docling_v2/example_05.html.json
  tests/data/groundtruth/docling_v2/example_05.html.md
  tests/data/html/example_05.html
  tests/test_backend_html.py
Labels: bug, html

#817 docs(backend XML): do not delete temp file in notebook
  docs/examples/backend_xml_rag.ipynb
Labels: documentation

#842 fix: Fixed docx import with headers that are also lists
  docling/backend/msword_backend.py
  tests/data/docx/unit_test_headers_numbered.docx
  tests/data/groundtruth/docling_v2/unit_test_headers_numbered.docx.itxt
  tests/data/groundtruth/docling_v2/unit_test_headers_numbered.docx.json
  tests/data/groundtruth/docling_v2/unit_test_headers_numbered.docx.md
Labels: docx
