Repository docling-project/docling, pull requests merged in 2025-03, with the labels that each got.

#1150 fix: Pass tests, update docling-core to 2.22.0
  docling/backend/xml/uspto_backend.py
  poetry.lock
  pyproject.toml
  tests/data/groundtruth/docling_v2/blocks.md.md
  tests/data/groundtruth/docling_v2/code_and_formula.doctags.txt
  tests/data/groundtruth/docling_v2/example_03.html.md
  tests/data/groundtruth/docling_v2/pftaps057006474.itxt
  tests/data/groundtruth/docling_v2/pftaps057006474.json
  tests/data/groundtruth/docling_v2/redp5110_sampled.doctags.txt
  tests/data/groundtruth/docling_v2/wiki_duck.html.md
  tests/test_backend_html.py
Labels: bug, tests

#1154 fix(html): handle nested empty lists
  docling/backend/html_backend.py
  tests/data/groundtruth/docling_v2/example_07.html.itxt
  tests/data/groundtruth/docling_v2/example_07.html.json
  tests/data/groundtruth/docling_v2/example_07.html.md
  tests/data/html/example_07.html
Labels: bug, html

#1241 fix: improve HTML layer detection, various MD fixes
  docling/backend/html_backend.py
  docling/backend/md_backend.py
  tests/data/groundtruth/docling_v2/mixed_without_h1.md.md
  tests/data/groundtruth/docling_v2/wiki_duck.html.itxt
  tests/data/groundtruth/docling_v2/wiki_duck.html.json
  tests/data/groundtruth/docling_v2/wiki_duck.html.md
  tests/data/md/mixed_without_h1.md
  tests/test_backend_html.py
Labels: html, markdown

#1261 fix: Fixes tables when using OCR
  docling/models/table_structure_model.py
Labels: table structure
